[Desktop Entry]
Encoding=UTF-8
Name=Primo Semestre OneNote
Type=Link
URL=https://unito365-my.sharepoint.com/personal/luca_dallavilla_edu_unito_it/_layouts/15/Doc.aspx?sourcedoc={f33c0577-716d-4578-a3a5-94dbab34ad0c}&action=edit&wd=target%28Matematica%20Discreta.one%7C78b4d65d-1a0d-48e1-a101-84ef5b568924%2FInsiemistica%7C2489d7f1-dea0-40ce-8066-a04559a853fd%2F%29&wdorigin=NavigationUrl>
Icon=text-html
